
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-35NN9PBX18"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-35NN9PBX18');
</script>

<meta name="description" content="Wszytko o Data Science, Data Engineering i Data Analysis, czyli wszystko o przetwarzaniu, eksploracji, analizie i modelowaniu danych. W skrócie: wszystko o danetyce ;) | Data Science | Data Engineering | Data Analysis | Danetyka | Danologia | Python | SQL">